@charset "UTF-8";

/*!
 *   AdminLTE v3.0.1
 *   Author: Colorlib
 *   Website: AdminLTE.io <http://adminlte.io>
 *   License: Open source - MIT <http://opensource.org/licenses/MIT>
 */


/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&display=swap');
body {
    font-family: 'Nunito', sans-serif !important;
    font-size: 13px !important;
}
:root {
  --main-bg-color: #015873;
  --white: #ffffff;
  --success: #28a745;
  --danger: red;
  --info: #17a2b8;
}
.addicon {
    text-align: right;
}

.inner-addon {
    position: relative;
}

.inner-addon .fas {
    position: absolute;
    padding: 10px;
    color: #007bff;
}

.inner-addon-side .fas {
    position: inherit;
    padding: 0;
}

.right-addon .fas {
    right: 0px;
    top: 0px
}

.right-addon input {
    padding-right: 30px;
}

.error {
    color: red;
    font-weight: normal !important;
}

.form-group label {
    margin-bottom: 0;
}

.required_star {
    color: red;
}

.custom-card-footer {
    background: none;
}

.card-body2 {
    padding-bottom: 0;
}

.card-body2 #emp_code,
.card-body2 #short_name {
    pointer-events: none;
}

.card-body3 {
    padding-top: 0;
    padding-bottom: 0;
}

.custom_radio_class .icheck-primary {
    padding-right: 10px;
}

.custom_radio_class .icheck-primary>input:first-child:checked+label::before {
    background-color: #007bff;
    border-color: #007bff;
}

.custom_radio_class {
    margin-left: 2px;
}

#create-user-form #short_name,
#create-user-form #emp_code {
    pointer-events: none;
}

.justify-content-between .right {
    float: right;
}

#roles-list th,
.table-bordered th {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 13px;
}

.btn_padding {
    padding: 2px;
    font-size: 13px;
}

.edit_icon {
    color: #007bff;
}

.data_icon {
    color: #28a745;
}

.trash_icon {
    color: red;
}

.action_icon {
    padding: 10px;
}

.swal_btn {
    padding: 5px;
    margin: 5px;
}

.custom_margin {
    margin-top: 20px;
}


/*# sourceMappingURL=adminlte.css.map */

.legend {
    list-style: none;
}

.legend li {
    float: left;
    margin-right: 10px;
}

.legend span {
    border: 1px solid #ccc;
    float: left;
    width: 12px;
    height: 12px;
    margin: 2px;
    margin-top: 7px;
}

.legend .parent {
    background-color: rgb(0, 123, 255);
}

.disabled_option {
    background: red;
}

#offline {
    color: red;
}

#online {
    color: #3cfa65;
    text-shadow: 0 0 9px #3a3a3a;
}

.role-class {
    color: #007bff !important;
}

.profile-pic {
    position: relative;
}

.edit {
    padding-top: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
}

.edit a {
    color: #000;
}

.custom-menu-right {
    left: 0;
    min-width: 200px;
}

#preview-image {
    height: 140px;
    width: auto;
}

.img-circle {
    height: 128px;
    width: 128px;
}

.user-image {
    height: 34px !important;
    width: 34px !important;
}

.custom-list a {
    color: #007bff !important;
}

.listing-class {
    list-style: none;
    padding-left: 0px;
    overflow: auto;
    max-height: 100px;
}

.listing-class li {
    border-radius: .2rem;
    padding: 0 5px 0 5px;
    cursor: pointer;
    display: inline-block;
    margin-top: .3em;
    margin-right: 5px;
    background: #007bff;
    color: #fff !important;
    border: none !important;
}

.listing-class li.with-profile {
    padding: 0 1px 0 5px;
}

.listing-class li span {
    background-color: #4caf50;
    padding: 1px 5px 1px 5px;
}

ul.listing-class::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.listing-class {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.overlay img {
    height: 100px;
}

.overlay {
    background-color: #00000080 !important;
    display: none;
}

.loader {
    display: none !important;
}

.addicon_right {
    float: right;
    text-align: left;
    width: 50%;
}

.addicon a {
    padding: 5px;
}

.required {
    color: red;
}

.modal-header-custom {
    padding: 0;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #007bff;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #f3f8f991;
    z-index: 9999;
}

.preloader2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #f3f8f991;
    z-index: 9999;
}

#status,
.loader-status {
    width: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#status img {
    height: 60px;
    width: 60px;
}

.loader-status img {
    height: 50px;
    width: 50px;
}

.displayBlock {
    display: block !important;
}

span.document-upload {
    display: inline-block;
    padding: 5px 10px;
    background: #007bff;
    color: #fff;
    border-radius: 3px;
    margin-left: 2px;
}

#icon ul,
#icon ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 4px;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Nunito';
}

#icon ul li .foo {
    height: 13px;
    width: 13px;
}

#icon ul li .foo.red,
span.foo.red {
    background: red;
}

#icon ul li .foo.green,
span.foo.green {
    background: #4caf50;
}

#icon ul li .foo.blue,
span.foo.blue {
    background: #3f51b5;
}

#icon ul li .foo.gray,
span.foo.gray {
    background: #848484;
}

#icon ul li .foo.orange,
span.foo.orange {
    background: #fcc807;
}

#icon ul li .foo.oceanblue,
span.foo.oceanblue {
    background: #2196f3;
}

#icon ul li .foo.violet,
span.foo.violet {
    background: #673ab7;
}

#icon ul li b {
    margin: 5px 0 0 0;
    line-height: 1;
    min-height: 13px;
}


/** for data grid **/

td.foo.violet {
    background: #673ab7;
    color: #fff;
}

td.foo.account_active {
    border-left: 6px solid #4caf50 !important;
}

td.foo.account_inactive {
    border-left: 6px solid #55585585 !important;
}

td.foo.account_suspended {
    border-left: 6px solid #ff0000 !important;
}

td.foo.green {
    background: #4caf50;
    color: #fff;
}

td.foo.blue {
    background: #3f51b5;
    color: #fff;
}

td.foo.gray {
    background: #cec7c7;
    color: #fff;
}

td.foo.orange {
    background: #fcc807;
    color: #fff;
}

td.foo.oceanblue {
    background: #2196f3;
    color: #fff;
}

td.foo.violet {
    background: #673ab7;
    color: #fff;
}

span.foo {
    width: 5px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0px;
    bottom: 0;
    height: auto;
}

.highcharts-container:focus {
    border: 0
}

span.new-foo {
    left: inherit;
    height: 30px;
    top: 10px;
}

.dropdown-table {
    padding: 3px
}

span.new-foo {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


/* menubuilder css starts */

.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 50px;
    font-size: 13px;
    line-height: 25px;
}

.dd-dragel,
.dd-empty,
.dd-placeholder {
    cursor: grab;
    box-shadow: 0px 0px 1.2px 1.2px rgba(0, 0, 0, .1);
    margin: 0px;
}

.dd-handle {
    display: block;
    height: 50px;
    margin: 10px 0;
    padding: 14px 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    background: #fafafa;
    border-radius: 3px 0px 0px 3px;
    box-sizing: border-box;
    font-size: 15px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .2);
    transition: all ease 0.3s;
}

.dd-handle:hover {
    color: #2ea8e5;
    background: #fff;
    cursor: grab;
}

.dd-item>button {
    position: relative;
    cursor: pointer;
    float: left;
    width: 30px;
    height: 30px;
    margin: 7px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 21px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    color: #00bcd4;
}

.dd-item>button:before {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-item>button.dd-expand:before {
    content: '+';
}

.dd-item>button.dd-collapse:before {
    content: '-';
}

.dd-expand {
    display: none;
}

.dd-collapsed .dd-list,
.dd-collapsed .dd-collapse {
    display: none;
}

.dd-collapsed .dd-expand {
    display: block;
}

.dd-empty,
.dd-placeholder {
    margin: 6px 0;
    padding: 0;
    min-height: 50px;
    background: rgba(225, 225, 225, .6);
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: rgba(225, 225, 225, .5);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
    height: 50px;
}

.dd-dragel>.dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .2);
}

.dd-nochildren .dd-placeholder {
    display: none;
}

.dd .btn {
    padding: 10px 10px;
}

.action-area {
    position: absolute;
    right: 9px;
    z-index: 11;
    top: 0;
    bottom: 0;
    margin: auto;
}

.action-area .edit-info {
    color: #007dff
}

.action-area .cs-danger {
    color: #ff1100
}

.dashboard-h3 {
    font-size: 20px !important
}

.small-box .new-size>i.fas {
    font-size: 40px;
    top: 8px;
}

.small-box:hover .new-size>i.fas {
    font-size: 45px;
    top: 5px;
}

.tab-outline-primary {
    color: #007bff;
}

.tab-outline-success {
    color: #28a745;
}

.tab-outline-info {
    color: #673AB7;
}

.innerPage {
    color: green
}

.warapper-tab {
    flex: 0 0 31%;
    max-width: 31%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.access-wrapper {
    display: flex;
}

.ParentModuleClass {
    color: red;
    text-transform: uppercase;
}

.module-ul {
    list-style: none;
}

dt {
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

dt p {
    margin-bottom: 0;
    margin-left: 10px;
    line-height: 30px;
}

.access-wrapper {
    flex: 0 0 100%;
    max-width: 100%;
}

dt.has-child:after {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #cccccc;
    content: '';
    position: absolute;
    left: -1px;
    top: -10px;
}

dt.has-child {
    border: 1px solid #ccc;
    padding-top: 5px;
    position: relative;
}

dt.parent-dt {
    border: 1px solid #ccc;
    padding: 5px;
    position: relative;
}

.has-child:empty {
    display: none;
}

.module-ul.child {
    margin-left: -50px;
}

.custom-check label.disabled {
    opacity: 0.5
}


/* menubuilder css ends */

.colorful-name {
    color: #007dff
}

.card-2 {
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    margin-bottom: 1rem;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}


/**account address row**/

.li-class {
    border-radius: .2rem;
    padding: 0 5px 0 5px;
    cursor: pointer;
    float: left;
    margin-top: .3em;
    margin-right: 5px;
    background: #007bff;
    color: #fff !important;
    border: none !important;
}

.class-number {
    position: absolute;
    top: -42px;
    left: 0;
    background: #18a75e;
    width: 40px;
    height: 40px;
    z-index: 99;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
}

.ROWID {
    position: relative;
    margin: 0;
    margin-top: 10px;
    padding: 15px 0;
}

.border_top {
    border-top: 2px solid #18a75e
}

.class-number span {
    color: #fff;
}

.class-cross {
    position: absolute;
    top: -42px;
    right: 0;
    background: #dc3545;
    width: 40px;
    height: 42px;
    z-index: 99;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.preventDropdown span.select2-container {
    pointer-events: none;
}

.action-block a {
    margin-right: 5px;
    display: inline-block;
}

.action-block {
    background: #fff;
    box-shadow: 0 0 15px #ccc;
    min-height: 45px;
    padding: 6px 5px;
    border-radius: 8px;
    position: absolute;
    width: auto;
    top: -30px;
    left: 80px;
}

.action-block p i {
    cursor: pointer;
    color: #9a9a9a;
    border-bottom: 1px solid #ccc;
}

.action-block p {
    text-align: right;
    line-height: 1;
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.action-sec {
    background: #ffffff;
    padding: 5px 0;
}

.action-sec a i {
    color: #fff;
    background: #499af1;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 0 15px #fff;
}

.input-none {
    background-color: #6c757d40;
    pointer-events: none;
}

.checklist_ul li {
    list-style: none;
}

.red-cross {
    color: red;
    font-size: 15px;
}

.green-cross {
    color: green;
    font-size: 15px;
}

.approved-requisition,
.completed-task {
    background: #0eb31585;
}

.suspended-account {
    background: #55585585;
}

.pending-requisition {
    background: #ff98007a;
}

.completed-requisition {
    background: #3820ff82;
}

.allocated-requisition {
    background: #2196f36b;
}

.rejected-requisition,
.missed-task {
    background: #ff373782;
}

.feedback-dealer {
    background: #009688b8;
}

.feedback-distributor,
.upcoming-task {
    background: #673ab7ab;
}

.feedback-subdealer {
    background: #ffc107;
}

.feedback-engineer {
    background: #2196f399;
}

.approve-tick,
.view-chat {
    color: green !important;
}

.reject-cross {
    color: red !important;
}

.po-details {
    color: #0071ea !important;
}

.prev-details,
.reply-to {
    color: #0071ea !important;
}

.secondary-h3 {
    display: none;
}

.highcharts-credits {
    display: none;
}

.lifting_amount_td {
    background-color: #158c30;
    color: #fff;
    font-weight: bold;
}

.__projecttypeClass.__privateprojectClass {
    background-color: #0eb31585;
    color: #000;
}

.__projecttypeClass a {
    color: #fff;
}

.__projecttypeClass.__govtprojectClass {
    background-color: #3820ff82;
    color: #fff;
}


/*====================================select2 CSS================================================*/

.select2-selection__choice {
    background: #007bff;
    color: #fff !important;
    border: none !important;
}

.select2-selection__choice__remove {
    color: #fff !important;
}

input.error,
.error .select2-container--bootstrap4 {
    border: 1px solid red !important;
}

select.form-control,
.form-control {
    min-height: 30px !important;
    height: auto;
    font-size: 12px;
}

.select2-container {
    display: block;
    width: 100% !important;
}

select.dropdown-table-value {
    width: auto;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__placeholder {
    color: #757575;
    line-height: 30px;
}

span.select2-selection.select2-selection--single {
    min-height: 30px !important;
    height: auto !important;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 30px !important;
    font-size: 12px;
}

.select2-container--bootstrap4 .select2-selection--multiple {
    min-height: 30px !important;
    height: auto;
    font-size: 12px;
}

.has-error input,
.has-error .select2-container--bootstrap4 .select2-selection {
    border: 1px solid red;
    border-radius: 5px;
}

.select2-container--bootstrap4 .select2-results__group {
    color: #007bff;
}

.select2-container--bootstrap4 .select2-results__option[aria-disabled=true] {
    background-color: #8080801f;
    color: #9e9e9e;
}

.select2-container--bootstrap4.select2-container--disabled.select2-container--focus .select2-selection,
.select2-container--bootstrap4.select2-container--disabled .select2-selection {
    background-color: #e2e2e2 !important;
}

.select2-selection--multiple {
    max-height: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.select2-search--inline {
    display: contents;
    /*this will make the container disappear, making the child the one who sets the width of the element*/
}

.select2-search__field:placeholder-shown {
    /* width: 100% !important; */
    /*makes the placeholder to be 100% of the width while there are no options selected*/
}

.form-group.twoBox span.select2.select2-container.select2-container--bootstrap4 {
    flex: 0 0 50%;
    max-width: 50%;
}


/*====================================select2 CSS================================================*/

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600;
    font-size: 13px;
}

.form-group label {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 13px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: 600;
    font-size: 13px;
}

.content-header h1 {
    font-size: 18px;
}

.content-header {
    padding: 10px;
    transition: all ease 0.5s;
}

.content-header.fixHeader {
    position: fixed;
    top: 56px;
    width: 100%;
    z-index: 99;
    background: #d1faee;
    transition: all ease 0.5s;
}

.content-header.fixHeader h1 {
    text-align: left;
    font-size: 16px !important;
}

textarea.form-control {
    height: auto !important;
    background: #fff !important;
}

.tab-pane.activity-tab .timeline-item .timeline-header {
    background: #ffffff;
    border: none !important;
    box-shadow: none !important;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 400;
    padding: 10px;
}

.tab-pane.activity-tab .timeline-item {
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #ccc;
}

.tab-pane.activity-tab .timeline-item .time {
    padding: 7px;
    font-size: 11px;
}

.info-tab-header {
    padding: 0;
    background: #f3f3f3;
}

.info-tab-header ul li.nav-item {
    min-width: 100px;
    text-align: center;
    border-right: 1px solid #ccc;
}

table.dataTable {
    width: 100% !important;
}

.clone-address,
form.update-lead-form {
    display: flex;
    flex-wrap: wrap;
}

.clone-address .form-group.row {
    -ms-flex: 0 0 50%;
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 10px;
}

form#update-lead-form .form-group,
form.update-lead-form .form-group {
    -ms-flex: 0 0 50%;
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 10px;
    margin: 0 0 10px 0;
}

form#update-lead-form .form-group.row,
form.update-lead-form .form-group.row {
    margin: 0 0 10px 0;
    align-items: center;
}

form#update-lead-form .form-group.row label,
form.update-lead-form .form-group.row label {
    padding: 0;
}

form#update-lead-form .form-group.full-group,
form.update-lead-form .form-group.full-group {
    max-width: 100% !important;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

.card.lead-info-card table {
    background: #fff;
}

.blue-btn-wrap {
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
    padding: 15px 15px 0;
}

.btn {
    font-size: 13px;
    border: none;
}

.btn-primary,
.success-dx-button {
    background: #ffd22d !important;
    border: none;
    color: #000;
    font-size: 13px;
}

.btn-primary:hover,
.success-dx-button:hover {
    background: #f1bd00 !important;
    border: none;
    color: #000;
}

.cancel-dx-button {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
    box-shadow: none;
}

.cancel-dx-button:hover {
    color: #fff !important;
    background-color: #bf1e2e !important;
    border-color: #bf1e2e !important;
}

thead tr th {
    color: #fff !important;
}

.icheck-primary>input:first-child:checked+input[type=hidden]+label::before,
.icheck-primary>input:first-child:checked+label::before {
    background-color: #ffd22d;
    border-color: #deaf00;
}

.card table {
    background: #fff;
}

.help-block {
    font-size: 13px;
    color: red;
}

.card {
    background: #fff;
}

.list-group-item {
    background: none;
}

div#followuptab .row {
    background: #f3f3f3;
    padding: 10px;
    margin: 0;
    border-radius: 5px;
}

.addnewaddress {
    background: #f1f1f1;
    padding: 15px;
    margin-bottom: 25px;
    border-top: 7px solid#ccc;
}

.daterangepicker.drop-up {
    margin-top: 57px !important;
}

.icheck-primary>input:first-child:not(:checked):not(:disabled):hover+input[type=hidden]+label::before,
.icheck-primary>input:first-child:not(:checked):not(:disabled):hover+label::before {
    border-color: #007dff;
}

.list-group-item b {
    font-weight: 600;
}

.direct-chat-warning .right>.direct-chat-text {
    background: #80e096 !important;
    border-color: #80e096 !important;
    color: #1f2d3d;
    text-align: right;
}

.direct-chat-warning .right>.direct-chat-text::after,
.direct-chat-warning .right>.direct-chat-text::before {
    border-left-color: #97e0a8;
}

.right .direct-chat-text {
    margin-left: 70px;
    margin-right: -5px;
}

.direct-chat-text {
    margin: 5px 70px 0 0px;
    display: inline-block;
}

.direct-chat-msg.right {
    text-align: right !important;
}

.direct-chat-infos {
    line-height: 1;
}

.direct-chat-infos span {
    margin: 0 5px;
    display: inline-block;
    color: #888;
    font-size: 12px !important;
}

.direct-chat-msg {
    margin-bottom: 10px !important;
}

.direct-chat-messages {
    overflow-x: hidden;
    background: #efe8e0;
}

.direct-chat-text {
    background: #ffffff !important;
    border: 1px solid #ffffff !important;
}

.direct-chat-text::after,
.direct-chat-text::before {
    border-right-color: #ffffff !important;
}

.card-header-child {
    background-color: transparent;
}

div#followuptab .row {
    padding: 0 !important;
    background: transparent;
}

.shown_tab {
    display: block !important
}

;
.show {
    display: inline;
}

.hide {
    display: none;
}

.employee-name {
    font-size: 15px;
}

.employee-name span {
    border-radius: .2rem;
    padding: 0 5px 0 5px;
    cursor: pointer;
    float: right;
    margin-top: 0;
    margin-right: 5px;
    background: #007bff;
    color: #fff !important;
    border: none !important
}

.fc-content {
    position: relative !important;
    white-space: normal !important;
    overflow: visible !important;
}

.fc-tooltip {
    position: absolute;
    z-index: 99;
    top: 10px;
    min-height: 50px;
    left: 0;
    padding: 5px;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 15px #fff;
}

.fc-tooltip p {
    color: #fff;
    font-weight: 300;
    font-size: 10px;
}

.fc-tooltip:before {
    position: absolute;
    content: '';
    top: -7px;
    left: 50%;
    border-bottom: 7px solid rgb(0, 0, 0);
    border-right: 7px solid#0000;
    border-left: 7px solid transparent;
}


/* highchart */

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}


/*====================================================================================*/

td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

.NEXT_TR>td {
    padding: 0 !important;
}

#childtable tr {
    background-color: #007bff45 !important;
}


/**************************************** Golu Tulshyan *****************************************/

.account-form-title h6,
.lead-form-title h6 {
    color: #ffffff;
    font-weight: 600 !important;
}

.color-down {
    color: red;
}


/***************************************** Golu Tulshyan *********************************************/

form.update-account-form {
    display: flex;
    flex-wrap: wrap;
}

form.update-account-form .form-group {
    -ms-flex: 0 0 50%;
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 10px;
}

form.update-account-form .form-group.row {
    margin: 0 0 10px 0;
    align-items: center;
}

form.update-account-form .form-group.full-group {
    max-width: 100% !important;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active {
    background-color: rgb(255, 255, 255);
    color: #343a40 !important;
}

.form-horizontal {
    margin-bottom: 20px;
    box-shadow: 0 0 15px #a9a9a9;
    padding: 15px 0;
}

div#address_content_show.row {
    margin: 0;
    padding: 0 10px;
}


/*============================Dx tables css======================================*/

.dx-datagrid-table td, .dx-widget, .dx-overlay-wrapper {
    font-family: 'Nunito', sans-serif !important;
}

tr.dx-row.dx-column-lines.dx-header-row td {
    text-transform: capitalize !important;
}

.dx-datagrid-table td a {
    color: #0067d2;
}

.dx-datagrid-table.dx-datagrid-table-fixed {
    font-size: 12px;
    font-weight: 600;
    color: #000 !important;
}

.dx-data-row.dx-state-hover>td,
.dx-data-row.dx-state-hover>td .invoice_table tbody {
    background-color: #fff0b8!important;
    color: blue!important;
    cursor: pointer;
}

.dx-data-row .editable {
    background-color: #007bff6b;
}

.dx-select-checkboxes-hidden>tbody>tr>td>.dx-select-checkbox {
    display: block !important;
}

.dx-datagrid .dx-row>td a {
    font-weight: 700;
}

tr.dx-row.dx-column-lines.dx-header-row {
    /* background: #7cd1ff !important; */
    background: var(--main-bg-color) !important;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
}

div#devexpress_popup .dx-popup-title, div.devexpress_popup .dx-popup-title {
    background: #015873;
    color: var(--white);
}
.dx-icon.dx-icon-close {
    color: var(--white) !important;
}

#gridContainer.has-toolbar .dx-datagrid-header-panel {
    padding: 0;
    background-color: #b6d8ff38;
}

.gridContainer .dx-datagrid-header-panel .dx-toolbar {
    margin: 0;
    background-color: transparent;
}

.gridContainer .dx-datagrid-header-panel .dx-toolbar-items-container, .dx-toolbar-items-container {
    height: 70px;
}

.gridContainer .dx-datagrid-header-panel .dx-toolbar-before .dx-toolbar-item:last-child {
    padding-right: 10px;
}

.gridContainer .dx-datagrid-header-panel .dx-selectbox {
    margin: auto 10px;
}

.gridContainer .dx-datagrid-header-panel .dx-button {
    margin: auto 0;
}

.gridContainer .informer {
    height: 70px;
    width: 130px;
    text-align: center;
    color: #fff;
}

.gridContainer .count {
    padding-top: 15px;
    line-height: 27px;
    font-size: 28px;
    margin: 0;
}

.dx-checkbox-container {
    width: auto !important;
}

.dx-datagrid-content .dx-overlay-wrapper.dx-invalid-message.dx-datagrid-invalid-message {
    visibility: visible !important;
}

.dx-icon-trash {
    color: red !important;
}

.customDxButton .dx-icon-trash {
    color: #fff !important;
}

.customDxButton .dx-button-text {
    font-size: 12px !important;
}

.dx-button-has-text .dx-icon {
    width: 12px !important;
    height: 12px !important;;
    font-size: 14px !important;;
    margin-right: 4px !important;;
    margin-left: 0 !important;;
}

.customDxButton.dx-button-has-text .dx-button-content {
    padding: 1px 4px !important;
}

.dx-success-button {
    background-color: var(--success) !important;
    border-color: var(--success) !important;
    color: var(--white) !important;
}

.dx-primary-button {
    background-color: var(--main-bg-color) !important;
    border-color: var(--main-bg-color) !important;
    color: var(--white) !important;
}

.dx-error-button {
    background-color: var(--red) !important;
    border-color: var(--red) !important;
    color: var(--white) !important;
}

.dx-info-button {
    background-color: var(--info) !important;
    border-color: var(--info) !important;
    color: var(--white) !important;
}

.dx-tag-content {
    background-color: var(--main-bg-color) !important;
    color: var(--white) !important;
    padding: 3px 20px 0px 3px !important;
    margin: 8px 0 0 4px !important;
}

.dx-tag-remove-button::after,
.dx-tag-remove-button::before {
    background: var(--white);
}

.dx-tag-container {
    padding-top: 0px !important;
}

/*============================Dx tables css======================================*/

.document_page_list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.document_page_list ul li {
    flex: 0 0 33%;
    max-width: 33%;
    margin-bottom: 15px;
}

.document_page_list ul li a {
    color: #000;
    display: inline-block;
    margin: 0 7px;
    transition: all ease 0.3s;
    font-weight: 600;
}

.document_page_list ul li i.fas.fa-image {
    color: #0c6f00;
    background: #baffc5;
    height: 35px;
    width: 35px;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
}

.document_page_list ul li a:hover {
    color: #007bff;
}

.document_page_list ul li i.fas.fa-file-pdf {
    color: #ff0000;
    background: #ffc4c4;
    height: 35px;
    width: 35px;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
}

.user-block span.username {
    background: #e5f2ff;
    padding: 3px 10px;
}

.infobox-location.detail-sm {
    color: #009e0c;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 15px;
}

.infobox-title span {
    display: block;
    color: #000000;
    margin-bottom: 2px;
    font-weight: 600;
}

.drop img {
    max-width: 120px;
    margin: 0 auto;
}

.link {
    position: relative;
    cursor: pointer;
}

.arrow2 {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 15px solid #fff;
    position: absolute;
    bottom: -9px;
    left: 10px;
}

.line {
    padding: 10px 5px;
}

.line2 {
    padding: 0px 5px;
}

.line p {
    margin-bottom: 0;
    line-height: 1.5;
    color: #2e2e2e;
    font-size: 13px;
}

.link:hover .drop {
    display: block;
}


/*===08.04.2020===========order page===============*/

.ordersec-wrap {
    max-width: 100%;
    background: #f7f7f7;
    padding: 15px 0;
    margin: 0 auto;
}

.ord-title h5 {
    margin: 0;
    font-size: 16px;
    color: #007bff;
}

.ord-title i {
    color: #808080;
}

.ord-title {
    border-bottom: 2px solid #0071ea;
    margin-bottom: 12px;
    background: #fff;
    padding: 10px !important;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ord-title:after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 9px;
    border-top: 10px solid #0071ea;
    border-left: 7px solid #ccc0;
    z-index: 99;
    border-right: 7px solid #ccc0;
}

div.filds-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0 0 15px #b9b9b9;
    padding: 15px 0;
    border-radius: 10px;
}

.single-fields input,
.single-fields select {
    width: 100%;
    height: 30px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.single-fields {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: block;
    position: relative;
}

.single-fields label {
    margin-bottom: 6px;
    display: block;
    font-size: 14px;
    font-weight: 600;
}

.prmo-code-wrap {
    position: relative;
}

.prmo-code-wrap .apply-promo {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    padding: 0 15px;
    border: none;
    background: #ccc;
    color: #696969;
    font-weight: 600;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

.prmo-code-wrap .apply-promo:hover {
    background: #7d7d7d;
    color: #fff;
}

.add-new-btn {
    display: block !important;
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
    padding: 15px 0;
}

.add-new-btn a {
    text-decoration: none;
    background: #3e9dff;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    border-radius: 5px;
}

.address.filds-wrap .single-fields {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: block;
    position: relative;
}

.address-listing-single {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
    margin-bottom: 20px;
}

div#adrs_section {
    margin: 0 !important;
}

div#accordionExample.table-accordian .card-header h2 button {
    display: block;
    width: 100%;
    text-align: left;
    color: #fff;
    font-weight: 600;
}

.table-accordian .card-header {
    padding: 0;
    background: #007bff;
}

.address-listing-single .addresslines {
    max-width: 400px;
    min-width: 360px;
    padding: 10px 18px;
    background: #cce5ff;
    border-radius: 5px;
    margin-left: 15px;
}

.address-listing-single .addresslines p {
    margin-bottom: 0;
}

.address-listing {
    padding: 15px 0;
    background: #fff;
    box-shadow: 0 0 15px #b9b9b9;
    margin-bottom: 15px;
    border-radius: 10px;
}

div#outstanding_tbl {
    width: 100%;
    padding: 0 15px;
}

.col-md-6.address-side {
    background: #fffbea;
}


/*==================*/

li.nav-item a {
    border-radius: 0 !important;
}

span.description {
    /* width: 150px !important; */
    display: inline-block;
    overflow: hidden;
}

table.dataTable th,
table.dataTable td {
    white-space: nowrap;
    font-size: 12px;
    border: none;
}

table.dataTable tr td {
    border-bottom: 1px solid #e4e4e4 !important;
    position: relative;
}

table#account-list {
    overflow-x: scroll;
}

form#add-lead-form .lead-form-title h5 {
    color: #fff;
    padding-left: 15px;
}

form#add-lead-form .icheck-primary {
    margin-bottom: 10px;
    display: inline-block !important;
}

div#roles-list_wrapper {
    overflow-x: scroll;
}

table#roles-list {
    width: 100% !important;
    overflow-x: scroll;
}


div#tagged-dealers-list_wrapper {
    overflow-x: scroll;
}

div#partner-list_wrapper {
    overflow-x: scroll;
}

table#account-teamtask,
div#account-mytask_wrapper,
div#account-assignedtask_wrapper {
    overflow-x: scroll;
}

.badge-custom {
    font-size: 100% !important;
}

.Badge-danger {
    background: #ff4c4c;
    color: #fff;
    border-radius: 4px;
    padding: 2px 8px !important;
    display: inline-block;
    /*box-shadow: 0 0 10px #ff4c4c;*/
    min-width: 50px;
    text-align: center;
}

.Badge-primary {
    background: #64afff;
    color: #fff;
    border-radius: 4px;
    padding: 2px 8px !important;
    display: inline-block;
    /* box-shadow: 0 0 10px #64afff;*/
    min-width: 50px;
    text-align: center;
}

.Badge-warning {
    background: #ff8d2b;
    color: #fff;
    border-radius: 4px;
    padding: 2px 8px !important;
    display: inline-block;
    min-width: 50px;
    text-align: center;
}

.__badge_primary {
    background-color: #007bff;
    color: #fff;
    border-radius: 2px;
    padding: 4px;
    font-weight: 600;
}

table.dataTable tr:nth-child(even) {
    background: #f5fcff;
}

span.semilow {
    background: #64afff;
    width: 4px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 3px;
    bottom: 0;
}

span.verylow {
    background: #009cbf;
    width: 4px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 3px;
    bottom: 0;
}

span.semiurgent {
    background: #ff7070;
    width: 4px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 3px;
    bottom: 0;
}

span.urgent {
    background: #ff4c4c;
    width: 4px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 3px;
    bottom: 0;
}

span.missed {
    background: gray;
    width: 4px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 3px;
    bottom: 0;
}

span.completed_task {
    background: #00b75a;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 10px;
}

span.new_task {
    background: #007bff;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 10px;
}

span.deleted_task {
    background: #ff4c4c;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 10px;
}

span.rescheduled_task {
    background: #6f42c1;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 10px;
}

span.missed_task {
    background: gray;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 10px;
}

.Badge-success {
    background: #009cbf;
    color: #fff;
    border-radius: 4px;
    padding: 2px 8px !important;
    display: inline-block;
    box-shadow: 0 0 10px #009cbf;
    min-width: 50px;
    text-align: center;
}

.action_div ul {
    padding: 0 6px;
    list-style: none;
    margin: 0;
    background: #0081c6;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px #c3c3c3;
    position: absolute;
    top: 12px;
    left: -30px;
    display: none;
    z-index: 99;
}

.action_div ul li {
    display: inline-block;
    line-height: 1;
    width: auto;
    overflow: hidden;
    margin: 0 4px;
}

.action_div ul li a {
    color: #fff;
}

.action_div {
    position: relative;
    cursor: pointer;
}

.action_div i.fa-ellipsis-v {
    font-size: 15px;
    color: #737373;
}

.action_div:hover ul {
    display: block;
}

.action_div:hover .fa-ellipsis-v {
    color: #009cbf;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
    border: 2px solid #cfeeff !important;
    background: #f7fcff !important;
}


/* table loader */

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.65);
    margin-left: 0;
    margin-top: 0px;
    padding: 30px 0;
}

#tableloader {
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#inner_processing {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
}

#tableloader img {
    height: 40px;
}

.readonly-class {
    pointer-events: none
}

.smallul li {
    margin: 6px 0px 0 0px !important;
}

.row.head-col .col-md-3 {
    padding: 10px 5px;
    background: #cce5ff;
    font-weight: 600;
}

table#order-item-tbl th {
    background: #dff4ff;
}

table#order-item-tbl {
    margin-top: 20px;
}

form#order-action-form table {
    font-size: 12px !important;
}

table#order-item-tbl th,
table#order-item-tbl td {
    padding: 7px;
}

span.dot-right {
    padding: 0px 5px;
    border: 1px solid #ccc;
    line-height: 1;
    border-radius: 5px;
    cursor: pointer;
}

span.dot-right:hover~.full_description {
    display: block !important;
}

.full_description {
    position: absolute;
    background: #fff;
    padding: 10px;
    right: 40px;
    top: 0;
    border: 1px solid #969696;
    border-radius: 5px;
    box-shadow: 0 0 15px #ccc;
}

div#account-teamtask_wrapper {
    overflow-x: scroll;
}

div#completedtask {
    overflow-x: scroll;
}

div#dealer_pending {
    overflow-x: scroll;
}

table#grouplist thead {
    background: #7cd1ff !important;
}

div#table-followup-selfs_wrapper {
    overflow-x: scroll;
}

form#vehicleunderloading-form {
    padding: 15px;
}

.accordion-header h4 {
    font-size: 15px;
}

.accordion-header a {
    color: #000;
}

.form-center {
    display: inline-block;
    align-items: center;
    position: relative;
}

.form-center .error {
    display: table;
}

.custom-navlink a {
    color: white !important;
}

a#add_more {
    display: block;
    font-size: 10px;
    white-space: nowrap;
    background: #007bff;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

a.rmv {
    display: block;
    font-size: 10px;
    white-space: nowrap;
    background: #ff6464;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

form#requisition-action-form .row {
    margin-bottom: 10px;
}

div#requisition-info-modal .row {
    margin-bottom: 10px;
}

table#requisition-item-tbl th {
    background: #dbecff;
}

div#order-info-modal .row {
    margin-bottom: 10px;
}

.single-fields.ac_detail label,
.single-fields.ac_detail span {
    display: inline-block;
}

.single-fields.ac_detail label {
    margin-right: 10px;
}

div#requisition-info-modal .row .col-md-3:nth-child(odd),
div#requisition-info-modal .row .col-md-6 {
    font-weight: 600;
}

.invoice_table {
    width: 100%;
}

.invoice_table td {
    border: 1px solid #ddd;
    padding: 5px;
}

.nav-sidebar .nav-link>.right {
    position: absolute;
    right: 8px !important;
    top: 10px !important;
}


/*====================================================*/

.sidebar-dark-primary {
    background: #ffffff !important;
    z-index: 9999!important;
}

.os-theme-light>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    background: rgb(1 88 115) !important;
}

.os-theme-dark>.os-scrollbar>.os-scrollbar-track,
.os-theme-light>.os-scrollbar>.os-scrollbar-track {
    background: rgb(1 88 115 / 29%) !important;
    opacity: 1;
}

[class*=sidebar-dark] .user-panel {
    /* border-bottom: 1px solid #4f5962; */
    /* background-color: rgba(16, 16, 16, 0.43); */
    padding: 6px !important;
    height: auto !important;
    /* border: 1px solid #ccc !important; */
    margin: 0 !important;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus,
a.brand-link img {
    opacity: 1 !important;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 700;
}

a {
    color: #005ab7;
    text-decoration: none;
    background-color: transparent;
}

.navbar-dark .btn-navbar,
.navbar-dark .form-control-navbar {
    background-color: rgba(0, 0, 0, 0.53) !important;
    border: 0;
    color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link i {
    color: #ffffff;
}

span.info-box-icon.bg-info.elevation-1 {
    background: #6c7dff !important;
}

span.info-box-icon.bg-danger.elevation-1 {
    background: #ff6d7c !important;
}

span.info-box-icon.bg-success.elevation-1 {
    background: #73cc86 !important;
}

span.info-box-icon.bg-warning.elevation-1 {
    background: #fde59e !important;
}

.form-control:disabled {
    background-color: #e2e2e2 !important;
    opacity: 1;
}

.form-control[readonly] {
    background-color: #fff !important;
    opacity: 1;
}

form#searchform label {
    margin-bottom: 5px;
}


/*==============================*/

.edit-info:hover .edit-options {
    display: block;
}

.edit-options ul {
    list-style: none;
    padding: 5px 10px;
    background: #0081c6;
    box-shadow: 0 0 15px #adadad;
    border-radius: 5px;
    display: flex;
}

.edit-options ul li a {
    color: #fff;
    display: block;
}

.edit-options {
    display: none;
    position: absolute;
    right: 0;
    top: 6px;
}

.edit-info {
    position: relative;
}

.edit-options ul li {
    white-space: nowrap;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #fff;
}

.edit-options ul li:last-child {
    border: none;
}

.box-profile-add p {
    color: #008cb7 !important;
}

.profile-username {
    font-size: 18px !important;
    margin-top: 5px;
}

span#timer-count {
    color: #f00;
    display: inline-block;
    margin: 0 20px;
    border: 2px solid #f00;
    padding: 2px 10px;
    border-radius: 5px;
}

textarea#call_remarks {
    width: 100%;
    border-radius: 5px;
    /* background: #c0ceff; */
    border: 1px solid #ccc;
}

.os-viewport.os-viewport-native-scrollbars-invisible {
    background-size: contain;
}

li.nav-item.has-treeview i.fas.fa-circle.nav-icon {
    font-size: 8px !important;
}

.custom-width-table {
    overflow-x: scroll;
}

.user-panel .image {
    padding-left: 0;
}

div#user-list_wrapper {
    /* overflow-x: scroll; */
    margin: 0 auto;
}

[class*=sidebar-dark] .user-panel {
    border-bottom: none;
    align-items: center;
}


/************* Coming Section  *********/

.coming_soon_body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #d3e3ff, #aecbff);
}

.coming_soon_content h2 {
    font-size: 50px;
    color: #353535;
    font-weight: 300;
    margin: 0;
}


/************* Coming Section  *********/

.userstaskclass {
    background: #0081c6;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
}


/***************** Login Page CSS ****************/

.login-logo {
    text-align: center;
}

.login-logo img {
    width: 170px;
}

.login-overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.15);
}

.login-box .form-control {
    height: 34px !important;
    font-size: 14px !important;
}

.login-box {
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 0px 16px rgb(25, 212, 243);
    background: rgba(1, 10, 18, 0.9);
    max-width: 400px !important;
    width: 90%;
    z-index: 9;
    position: relative;
}

.login-box .card {
    border-radius: 10px;
    background: none !important;
}

.login-box .card-body.login-card-body {
    background: none !important;
}

p.login-box-msg {
    color: #fff;
}

.login-page-v3 {
    overflow: hidden;
    position: relative;
    background: url(../../images/bg-ai.jpg) no-repeat right;
    background-size: cover;
    height: 100vh !important;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

p.login-box-msg.forget-msg {
    font-size: 16px;
}

.login-page-v3 .row {
    align-items: center;
}

.login-box .icheck-primary label {
    color: #fff;
    font-size: 12px;
}

p.or-seperation {
    color: #fff;
}

.login-box a {
    color: #fbfbfb;
    text-decoration: none;
    background-color: transparent;
}

.input-group .fa {
    width: 25px;
}

p.login-box-msg {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
}


/*scrolltab css*/

.scrollable-tab {
    overflow: hidden;
    padding: 0 30px;
    position: relative;
}

.scrollable-tab ul {
    flex-wrap: nowrap;
    position: relative;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.scrollable-tab button#left-arw:focus,
.scrollable-tab button#right-arw:focus {
    outline: none;
    background-color: #d4b204;
}

.scrollable-tab ul li {
    min-width: auto !important;
    white-space: nowrap;
}

.scrollable-tab button#left-arw {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 34px;
    z-index: 99;
    border: none;
    background: #fadb3c;
    cursor: pointer;
}

.scrollable-tab button#right-arw {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 34px;
    z-index: 99;
    border: none;
    background: #fadb3c;
    cursor: pointer;
}

button#js_right_Selected_1,
button#js_left_Selected_1,
button#js_left_All_11,
button#js_left_Selected_11,
button#js_right_Selected_11 {
    background: #f1bd00 !important;
    border: none;
    color: #000;
}

button#redemption_btn {
    background: #02a200;
}

.popup_fancybox.fancybox-content {
    padding: 15px 0px !important;
}

.popup_fancybox {
    width: 1000px !important;
    border-radius: 5px;
    cursor: default !important;
}

.fancybox-is-open .fancybox-bg {
    opacity: 0.7 !important;
}

.popup_fancybox form#target_form .row {
    margin: 0;
}

.popup_fancybox h4.card-title {
    font-size: 24px;
    margin-bottom: 5px;
}

.form-group.twoBox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-group.twoBox label {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
}

.form-group.twoBox .icheck-primary {
    flex: 0 0 25%;
    max-width: 25%;
}

.plot_size_edit {
    background: #c9e2ff;
    padding: 5px 10px;
}

.total_sqft_edit {
    background: #c9e2ff;
    padding: 5px 10px;
}

.steel_required_edit {
    background: #c9e2ff;
    padding: 5px 10px;
}

.proposed_floors .select2 {
    display: block;
    max-width: 100% !important;
    flex: 0 0 100%;
    margin-bottom: 10px;
}

.rejected-requisition a,
.pending-requisition a {
    color: #382100 !important;
    font-weight: 600;
}

.rejected-requisition a:hover,
.pending-requisition a:hover {
    color: #0083cc !important;
}

.completed-requisition a {
    color: #fff !important;
    font-weight: 600;
}

.completed-requisition a:hover {
    color: #00466f !important;
}

.approved-requisition a {
    color: #003502 !important;
    font-weight: 600;
}

.approved-requisition a:hover {
    color: #0070ad !important;
}

.details {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px;
}

.details .div-content {
    flex: 0 0 25%;
    max-width: 26%;
    padding: 0 15px;
    margin-bottom: 5px;
}

.div-content label {
    margin-right: 10px;
}


/**============================= Export button================== */

.export-btn,
.export-button,
.export-btn-custom {
    display: inline-block;
    max-width: 120px;
    margin-left: auto !important;
    border: 1px solid rgb(218, 215, 215);
    border-radius: 4px;
}

.export-btn img,
.export-button img,
.export-btn-custom img,
.import-btn img {
    height: 34px;
    width: 34px;
}

.description-block h5.description-text {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    background: #aae2ff;
    padding: 5px 0;
}

.description-block h6.description-percentage {
    font-size: 14px;
    text-align: left;
}

div#sales-render-div2 .border-bottom {
    border-bottom: 2px solid #007fc2!important;
}

div#sales-render-div2 .row {
    background: #dbf2ff;
    margin-bottom: 15px;
}

.col-md-12.year_tag h4 {
    font-size: 18px;
    margin-bottom: 0;
    background: #0081c6;
    color: #fff;
    padding: 7px 18px;
    line-height: 1;
    margin-top: 7px;
}


/** for subdealer sales tab **/

.single-year-data h5 {
    background: #1f7ad8;
    color: #fff;
    font-size: 16px;
    padding: 3px 10px;
    margin-bottom: 5px;
}

.col-footer,
.col-heading {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-footer h6,
.col-heading h6 {
    font-weight: 600;
    font-size: 12px;
    background: #73b0ef;
    flex: 0 0 32%;
    max-width: 32%;
    text-align: center;
    padding: 4px 0;
    color: #000;
}

.col-data {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-data p {
    max-width: 32%;
    flex: 32%;
    text-align: center;
    font-size: 12px;
    background: #e5f8ff;
    margin-bottom: 2px;
}

.col-data.__two_column p,
.col-heading.__two_column h6,
.col-footer.__two_column h6 {
    max-width: 49%;
    flex: 0 0 50%;
}

.__two_column h6,
.single-year-data h5 {
    font-weight: 600;
}

.__sap_div_wrapper .class-cross {
    top: 5px !important;
    right: 5px;
    line-height: 25px !important;
    width: 25px !important;
    height: 25px !important;
}

.__sap_div_wrapper .col-md-3 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
}

.col-custom {
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-data.__three_column {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-data.__three_column2 {
    display: flex;
    flex: 0 0 66%;
    max-width: 66%;
}

.col-data-all-wrap {
    display: flex;
    justify-content: space-between;
}

.col-data.__three_column {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-data.__three_column p {
    flex: 0 0 48%;
    max-width: 48%;
}

.col-data.__three_column1 .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
}

.col-data.__three_column1 .col-md-4 p {
    flex: 0 0 100%;
    max-width: 100%;
}

.col-data.__three_column1 {
    flex: 0 0 33%;
    max-width: 32%;
}

.anchor-underline {
    text-decoration: underline;
}

.small-box.custom_box .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    border: none;
    border-radius: 5px 0px 0 4px;
    box-shadow: none;
}

.small-box.custom_box .inner h3 {
    font-size: 25px;
    margin: 0;
    line-height: 1;
}

.small-box.custom_box .inner p {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    line-height: 1;
}

.small-box.custom_box .icon i {
    font-size: 22px;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    text-align: center;
    line-height: 45px;
    color: #d4f0ff;
}

.small-box.custom_box {
    position: relative;
    background: #004061;
    border-radius: 5px;
}

div#total {
    background: #17a2b8;
    color: #fff;
}

div#open {
    background: #ffc107;
    color: #0e0e0e;
}

div#closed {
    background: #dc3545;
    color: #ffffff;
}

div#converted {
    color: #fff;
    background: #28a745;
}

.small-box.custom_box:hover .icon i {
    font-size: 22px !important;
    color: #ffeba0;
}

.small-box.custom_box:hover {
    box-shadow: 0 0 7px #023650;
}

.small-box.custom_box .inner.active-box {
    padding-left: 30px;
}

.small-box.custom_box .inner.active-box:after {
    position: absolute;
    left: 10px;
    top: 18px;
    content: '';
    height: 10px;
    width: 10px;
    background: #65fc07;
    border-radius: 50%;
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgb(255 255 255 / 0.5);
    }
    100% {
        box-shadow: 0 0 0 8px rgb(255 255 255 / 0%);
    }
}

form.responsible_employee_form .form-group.row,
form.profile_information_form .form-group.row.profile-form,
form.appointed_employee_form .form-group.row,
form.form-horizontal .full-width {
    -ms-flex: 0 0 50%;
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0 10px;
    margin: 5px 0 5px 0;
}

form.responsible_employee_form .form-group.row label,
form.appointed_employee_form .form-group.row label,
form.form-horizontal .full-width label {
    padding: 0 8px;
    margin-bottom: 7px;
}

.asseTabs li {
    min-width: 100px;
    text-align: center;
    border: none;
    margin: 0 !important;
    border-right: 1px solid #ccc;
    margin-bottom: 5px !important;
}

.hasCustomIcons .dx-datagrid-export-button .dx-icon-export-excel-button {
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../../images/export-icons/excel-export-small.png);
    background-size: cover;
    width: 34px;
    height: 34px;
}

.hasCustomIcons .dx-button-has-icon .dx-button-content {
    padding: 0 !important;
}

.hasCustomIcons .dx-datagrid-export-button .dx-icon-export-excel-button:before {
    content: none;
}

.hasCustomIcons .dx-toolbar-text-auto-hide .dx-button .dx-button-content {
    padding: 8px !important;
}

.multiinvoice-tr {
    background-color: #17a2b840;
}

.multiinvoice-total-tr {
    background-color: #01ff70;
    color: #000;
}

/*===============================SD Page all css==========================================*/

.sd-kanban-tab>.active {
    display: block;
    min-height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
}

.kanban-board-wrap main .main__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
}

.kanban-board-wrap main .main__header>div {
    color: grey;
}

.kanban-board-wrap main .main__header>div>* {
    margin-left: 20px;
    cursor: pointer;
}

.kanban-board-wrap main .main__header>div .fa-bell {
    position: relative;
}

.kanban-board-wrap main .main__kanban__info {
    background: #ccc;
    padding: 0px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kanban-board-wrap main .main__kanban__info>img {
    border-radius: 50%;
    margin-right: 5px;
}

.kanban-board-wrap main .main__kanban__info>button {
    color: #2e2e2e;
    border: 0px;
    outline: 0px;
    cursor: pointer;
    background: #f1f1f1;
    padding: 6px 15px;
    border-radius: 18px;
    border: 1px solid #f6f6f6;
    transition: all 0.3s ease-in-out;
}

.kanban-board-wrap main .main__kanban__info>button:first-of-type {
    margin-right: auto;
    margin-left: 10px;
}

.kanban-board-wrap main .main__kanban__info>button:hover {
    background: #fff;
    border-color: #2e2e2e;
}

.kanban-board-wrap main .main__kanban {
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: flex-start;
}

.kanban-board-wrap main .main__kanban::after {
    content: '';
    padding-right: 25px;
    height: 100%;
}

.kanban-board-wrap main .main__kanban .board {
    flex: 0 0 20%;
    margin-right: 0;
    /* height: 100%; */
    padding: 10px;
}

.kanban-board-wrap main .main__kanban .board__conatiner {
    /* scrollbar-width: none; */
    /* max-height: 400px;
      overflow-y: auto; */
    box-shadow: 0 0 7px #ccc;
    border-radius: 15px;
    min-height: calc(100% - 85px);
}

.asseTabs li a.active {
    background: #ffffff;
    color: #004572!important;
    font-weight: 600;
    border-top: 3px solid #004572!important;
    border-bottom: 1px solid #ccc !important;
}

.asseTabs li a {
    border-top: 3px solid #004572!important;
    border-radius: 0;
    padding: 8px 10px;
    color: #fff;
    font-size: 12px;
    background: #004572;
        font-weight: 600;
}

.kanban-board-wrap main .main__kanban .board__conatiner::-webkit-scrollbar {
    width: 11px;
}

.kanban-board-wrap main .main__kanban .board__conatiner {
    scrollbar-width: thin;
    scrollbar-color: #90a4ae #cfd8dc;
}

.kanban-board-wrap main .main__kanban .board__conatiner::-webkit-scrollbar-track {
    background: #cfd8dc;
}

.kanban-board-wrap main .main__kanban .board__conatiner::-webkit-scrollbar-thumb {
    background-color: #90a4ae;
    border-radius: 6px;
    border: 3px solid #cfd8dc;
}
.customer_records {
    display: flex;
    margin-bottom: 10px;
}

form#doc-no-frm {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
}

a.extra-fields-customer {
    min-width: 120px;
    text-align: center;
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: 1px solid var(--main-bg-color);
}

.customer_records_dynamic {
    margin-bottom: 8px;
}

.customer_records_dynamic {}

.customer_records_dynamic .remove {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

.customer_records_dynamic .remove a.remove-field.btn-remove-customer {
    min-width: 120px;
    text-align: center;
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border: 1px solid var(--main-bg-color);
}
div#img-preview img {
    max-width: 155px !important;
    border: 1px solid #ccc;
    padding: 5px;
    height: 160px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}
form#add-request textarea#remarks {
    height: 32px !important;
}
.add-attachment label {
    min-width: 90px;
}
/** Custom  Cumputation Table Scrollbar */

.scrollable-table::-webkit-scrollbar {
    width: 7px;
}

.scrollable-table {
    scrollbar-width: thin;
    scrollbar-color: #90a4ae #cfd8dc;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.scrollable-table::-webkit-scrollbar-track {
    background: #cfd8dc;
}

.scrollable-table::-webkit-scrollbar-thumb {
    background-color: #90a4ae;
    border-radius: 6px;
    border: 3px solid #cfd8dc;
}

.kanban-board-wrap main .main__kanban .board__header {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 30px;
    padding: 0px 15px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--main-bg-color);
}

.kanban-board-wrap main .main__kanban .board__header>span {
    margin-right: auto;
    margin-left: 10px;
    color: #ffffff;
    font-weight: 600;
}

.kanban-board-wrap main .main__kanban .board__header>i {
    font-size: 13px;
    color: #7effed;
}

.kanban-board-wrap main .main__kanban .board__header .fa-ellipsis-h {
    cursor: pointer;
}

.kanban-board-wrap main .main__kanban .board__boxes {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 15px;
    cursor: move;
    padding: 5px;
}

.kanban-board-wrap main .main__kanban .board__boxes>.image-wrapper {
    margin: -20px -20px 10px -20px;
}

.kanban-board-wrap main .main__kanban .board__boxes p {
    font-size: 13px;
    color: #2e2e2e;
    margin-bottom: 10px;
    line-height: 1.2;
}

.kanban-board-wrap main .main__kanban .board__boxes__sections {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.kanban-board-wrap main .main__kanban .board__boxes__sections>* {
    height: 4px;
    width: 20px;
    border-radius: 10px;
    margin-right: 4px;
}

.kanban-board-wrap main .main__kanban .board__boxes__info {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    padding-right: 5px;
}

.board__boxes__info .custom-switch.custom-control {
    min-height: 20px !important;
}

.kanban-board-wrap main .main__kanban .board__boxes__info i {
    border: 1px solid #fff;
    padding: 5px;
    color: #7effed !important;
    background: var(--main-bg-color);
    border-radius: 5px;
}

.kanban-board-wrap main .main__kanban .board__boxes__info i,
.kanban-board-wrap main .main__kanban .board__boxes__info span {
    color: #2e2e2e;
    font-size: 9px;
}

.kanban-board-wrap main .main__kanban .board__boxes__info span {
    margin-left: 10px;
    margin-right: auto;
}

.kanban-board-wrap main .main__kanban .board__boxes__info img {
    border-radius: 50%;
    margin-left: 5px;
}

.kanban-board-wrap main .main__kanban .board .add__card {
    background: #80c4ff;
    cursor: pointer;
    border: 0;
    outline: 0;
    color: #2e2e2e;
    margin-top: 10px;
    padding: 10px 15px 9px;
    border-radius: 6px;
    line-height: 1;
    margin-bottom: 15px;
}

.board__style {
    background: #d1faee;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 7px #ccc;
}

.dragging {
    border: 2px solid #454545;
}

.movingElements i {
    background: var(--main-bg-color);
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #7effed;
    font-size: 11px;
}

.movingElements {
    text-align: right;
}


/** Timeline */

.rightbox {
    padding: 0;
    height: 100%;
}

.rb-container {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
}

.rb-container ul.rb {
    margin: 2.5em 0;
    padding: 0;
    display: inline-block;
}

.rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 2em;
    min-height: 50px;
    border-left: 1px dashed #333;
    padding: 0 0 30px 30px;
    position: relative;
}

.rb-container ul.rb li:last-child {
    border-left: 0;
}

.rb-container ul.rb li::before {
    position: absolute;
    left: -10px;
    top: 0px;
    content: ' ';
    border: 6px solid #015069;
    border-radius: 500%;
    background: #50d890;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
    border-color: #232931;
    transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
    color: #2aff8e;
    background-color: #015069;
    padding: 5px 13px;
    border-radius: 5px;
    position: relative;
    width: 100%;
    font-size: 12px;
}

.item-title {
    color: #000000;
    background-color: #e5e5e5;
    padding: 1em;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
}

.container-3 {
    width: 5em;
    vertical-align: right;
    white-space: nowrap;
    position: absolute;
}

.container-3 input#search {
    width: 150px;
    height: 30px;
    background: #fbfbfb;
    border: none;
    font-size: 10pt;
    color: #262626;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0.9em 0 0 28.5em;
    box-shadow: 3px 3px 15px rgba(119, 119, 119, 0.5);
}

.container-3 .icon {
    margin: 1.3em 3em 0 31.5em;
    position: absolute;
    width: 150px;
    height: 30px;
    z-index: 1;
    color: #4f5b66;
}

.disabledclick {
    user-select: none !important;
}

div#requestContent .nav-tabs .nav-item.show .nav-link,
div#requestContent .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: var(--main-bg-color);
    border-color: #dee2e6 #dee2e6 #fff;
}

div#requestContent .nav-tabs .nav-link {
    border: 1px solid #ffffff;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #d1faee;
    color: #000;
}

div#requestContent .actions h5 {
    background: var(--main-bg-color);
    color: #fff;
    padding: 7px 15px;
}

div#attach a {
    background: #ffffff;
    color: var(--main-bg-color);
    padding: 4px 10px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px dashed var(--main-bg-color);
}

.requestID h5 {
    background: var(--main-bg-color);
    color: #fff;
    padding: 7px 15px;
}

div#requestContent .progress-bar {
    background-color: var(--main-bg-color) !important;
}

div#requestContent .progress {
    border-radius: 7px !important;
}

div#requestContent .tab-content>.active {
    display: block;
    min-height: 300px;
    border: none;
    padding: 10px;
    box-shadow: 0 0 15px #cdcdcd;
    margin-top: 12px;
}

div#requestContent .actions .btn {
    margin: 5px;
}

.board__boxes__info .custom-control.custom-switch label.custom-control-label:before {
    left: -113% !important;
    top: 0 !important;
}

.board__boxes__info .custom-control.custom-switch label.custom-control-label:after {
    top: 2px !important;
    left: calc(-113% + 2px) !important;
}

.board__boxes__info .custom-switch {
    padding-left: 35px;
}

div#compute table.table.table-bordered.table-responsive th {
    white-space: nowrap;
}

/** scroll bar **/
.os-theme-dark>.os-scrollbar-vertical, .os-theme-light>.os-scrollbar-vertical {
    bottom: 10px;
    width: 15px !important;
}
.dx-scrollbar-horizontal .dx-scrollable-scroll {
    height: 15px !important;
}
.dx-scrollbar-horizontal.dx-scrollbar-hoverable {
    height: 16px !important;
}


/*===============================SD Page all css==========================================*/

/**======== dropzone css =====*/
.dropzone {
    border: 2px dashed rgba(0,0,0,.3);
    background: #2196f333;
}

.dz-preview .dz-image img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.dz-message{
    text-align: center;
    font-size: 28px;
}
/**======== dropzone css =====*/

/*===============================color-define==========================================*/

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: rgb(209 250 238)!important;
    color: var(--main-bg-color) !important;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus,
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: var(--main-bg-color) !important;
    /*color: #ffffff !important;*/
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: var(--main-bg-color) !important;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
    background-color: rgb(40 129 156) !important;
    color: #fff !important;
}

ul.nav.nav-treeview {
    background: #d1faee!important;
}

.content-wrapper {
    background: #f2fffb !important;
}

.navbar-primary {
    /*background: url(../../images/dot-bg.png)repeat center; */
    background-size: contain;
    background-color: var(--main-bg-color) !important;
}

.card-primary:not(.card-outline) .card-header {
    background-color: var(--main-bg-color) !important;
}

.card-primary.card-outline {
    border-top: 3px solid var(--main-bg-color) !important;
}

.timeline>div>.fa,
.timeline>div>.fab,
.timeline>div>.far,
.timeline>div>.fas,
.timeline>div>.glyphicon,
.timeline>div>.ion {
    font-size: 13px !important;
    background: #ffffff !important;
    box-shadow: 0 0 10px var(--main-bg-color) !important;
    color: var(--main-bg-color) !important;
}

.info-tab-header ul li.nav-item a.active {
    background: #ffffff;
    border-radius: 0;
    color: #000000;
    font-weight: 600;
    border-top: 3px solid var(--main-bg-color);
}

.info-tab-header ul li.nav-item a {
    border-top: 3px solid var(--main-bg-color);
    border-radius: 0;
    padding: 6px 10px;
    color: #fff;
    font-size: 12px;
    background: var(--main-bg-color);
}

.info-tab-header ul li.nav-item a:hover {
    background: #fff;
    color: var(--main-bg-color) !important;
}

.asseTabs li a:hover {
    background: #fff;
    color: var(--main-bg-color) !important;
    border-top: 3px solid var(--main-bg-color) !important;
    border-bottom: 1px solid #ccc !important;
}

.asseTabs li a.active {
    background: #ffffff;
    color: var(--main-bg-color) !important;
    font-weight: 600;
    border-top: 3px solid var(--main-bg-color) !important;
    border-bottom: 1px solid #ccc !important;
}

.asseTabs li a {
    border-top: 3px solid var(--main-bg-color) !important;
    border-radius: 0;
    padding: 8px 10px;
    color: #fff;
    font-size: 12px;
    background: var(--main-bg-color);
    font-weight: 600;
}

.timeline::before {
    background: var(--main-bg-color) !important;
}

thead {
    background: var(--main-bg-color) !important;
}

.parent_ac .icheck-success>input:first-child:checked+input[type=hidden]+label::before,
.icheck-success>input:first-child:checked+label::before {
    background-color: var(--main-bg-color) !important;
    border-color: var(--main-bg-color) !important;
}

span.open-child .text-success {
    color: var(--main-bg-color)!important;
}

.account-form-title,
.lead-form-title {
    border-bottom: 2px solid var(--main-bg-color);
    margin-bottom: 12px;
    background: var(--main-bg-color);
    padding-top: 10px !important;
    position: relative;
}

.account-form-title:after,
.lead-form-title:after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 9px;
    border-top: 7px solid var(--main-bg-color);
    border-left: 7px solid #ccc0;
    z-index: 99;
    border-right: 7px solid #ccc0;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: #d1faee;
    color: var(--main-bg-color);
}

[class*=sidebar-dark-] .sidebar a {
    color: var(--main-bg-color);
    font-weight: 800;
    font-size: 14px;
    transition: all ease 0.4s;
    display: flex;
    align-items: center;
}

[class*=sidebar-dark-] .user-panel a:hover {
    color: var(--main-bg-color) !important;
}

table.dataTable thead {
    background: var(--main-bg-color) !important;
    color: white;
}

table.dataTable thead th {
    color: #fff !important;
    background: var(--main-bg-color) !important;
    font-size: 13px;
}

.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]) {
    background-color: var(--main-bg-color) !important;
}

.invoice_table th {
    background: var(--main-bg-color) !important;
    color: #fff;
    font-weight: 600;
    padding: 7px;
}

.addicon a {
    background: var(--main-bg-color);
    color: #fff;
    border-radius: 5px;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active {
    background-color: rgb(40 129 156) !important;
    color: #ffffff !important;
    font-weight: 800;
}


/*===============================color-define end==========================================*/


/** dx chart */

g.dxc-title>text,
g.dxc-arg-elements>text {
    font-family: 'Nunito' !important;
    font-weight: 600 !important;
}

g.dxc-arg-elements>text,
g.dxc-val-elements>text,
g.dxc-val-title>text {
    font-family: 'Nunito' !important;
    font-weight: 600 !important;
    fill: #000 !important;
}

/** map css */
.circle {
    width:25px;
    height:25px;
    border-radius:250px;
    font-size:14px;
    color:#fff;
    line-height:25px;
    text-align:center;
    background:red
}
/** location approval popup image */
.loadImage .thumb-nail {
    max-width: 70px;
}

.thumb-nail img {
    max-width: 100%;
    cursor: pointer;
}

.big-img {
    display: none;
    position: fixed;
    top: 70px;
    right: 0;
    max-width: 1000px;
    margin: 0 auto;
    left: 0;
    transition: all ease 0.5s;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 35px #343430;
    z-index: 99;
}

.big-img img {
    max-width: 100%;
    width: 100%;
}

.loadImage:hover .big-img {
    display: flex;
}

.blink {
    animation: blinker 2s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/*===============================Sidebar Menu icon==========================================*/

/*======================================Responsive start=====================================*/

@media only screen and (max-width: 1366px) {
    .details .div-content {
        flex: 0 0 33%;
        max-width: 33%;
        padding: 0 15px;
        margin-bottom: 5px;
    }
    div#subdealer_tagged_show-list_wrapper {
        overflow-x: scroll;
    }
    div#table-followup-emp_wrapper {
        overflow-x: scroll;
    }
    div#account-distributor_inactive_wrapper,
    div#account-distributor_active_wrapper,
    div#account-dealer_active_wrapper,
    div#account-dealer_inactive_wrapper {
        overflow-x: scroll;
    }
    div#account-subdealer_active_wrapper,
    div#account-subdealer_inactive_wrapper,
    div#account-mason_active_wrapper,
    div#account-mason_inactive_wrapper {
        overflow-x: scroll;
    }
    div#account-engineer_active_wrapper,
    div#account-engineer_inactive_wrapper,
    div#account-pc_active_wrapper,
    div#account-pc_inactive_wrapper {
        overflow-x: scroll;
    }
}

@media (max-width: 1360px) {
    div#lead-list-missedtask_wrapper,
    div#account-list_wrapper {
        overflow-x: scroll;
    }
    div#lead-list-mytask_wrapper {
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 991px) {
    li.nav-item.mobile-visible {
        display: block !important;
    }
    div#ihb_project,
    div#pcontactor_tagged,
    div#engineer_tagged {
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 1280px) {
    .details .div-content {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 15px;
        margin-bottom: 5px;
    }
    div#ledger .col-sm-6,
    div#ledger .col-sm-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    div#table-followup-emp_wrapper {
        overflow-x: scroll;
    }
}

@media only screen and (max-width: 767px) {
    div#sales {
        height: auto !important;
    }
    div#employee_followup {
        overflow-x: scroll;
    }
    div#table-followup-emp_wrapper {
        overflow-x: scroll;
    }
    div#subdealer_tagged_show-list_wrapper {
        overflow-x: scroll;
    }
    div#mason_tagged_show-list_wrapper {
        overflow-x: scroll;
    }
    div#engineer_tagged_show-list_wrapper {
        overflow-x: scroll;
    }
    div#pcontactor_tagged_show-list_wrapper {
        overflow-x: scroll;
    }
    div#ledger {
        overflow-x: scroll;
    }
    div#table-followup-emp_wrapper {
        overflow-x: scroll;
    }
    div#mason_tagged_show-list_wrapper {
        overflow-x: scroll;
    }
    div#engineer_tagged_show-list_wrapper,
    div#pcontactor_tagged_show-list_wrapper,
    div#ihb_project_tagged {
        overflow-x: scroll;
    }
    div#lifting-report_wrapper,
    div#table-followup-self_wrapper,
    div#call-activity-list_wrapper,
    div#account-missedtask_wrapper,
    div#table-followup-emp_wrapper {
        overflow-x: scroll;
    }
    .add-class-task {
        position: relative !important;
        right: 0 !important;
        top: 0;
        transform: none;
    }
}

@media (min-width: 576px) {
    div#order-info-modal .modal-dialog {
        max-width: 900px;
        margin: 1.75rem auto;
    }
}


/*======================================Responsive end=================================================*/
